@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive");

body {
  background: #ebececfb !important;
}

/* Nav */

.mynav {
  background: linear-gradient(to right, #ffffff, #0099e0);
  background-size: 100% 100%;
}

.imi-logo {
  filter: brightness(0) invert(1);
}

.home-hero {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("./App/images/default_background.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.home-text {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  top: 0;
  left: 0;
  font-size: 2rem;
}

#homePage {
  color: black;
  background-color: rgba(230, 236, 240, 0.7) !important;
  padding-bottom: 0;
}

#pdfContainer,
.pdfContainer {
  margin: 0px;
  padding: 10px;
  width: 670px; /* width: 7in; */
  /* height: 815px; or height: 9.5in; */
  clear: both;
  page-break-after: always;
}

.pdfContainer {
  margin: 0px;
  padding: 20px;
}

.header {
  width: 100%;
  padding: 10px;
}

.home-hero .btn {
  background: #0099e0 !important;
  width: 200px;
  margin-top: 20px;
}

.home-hero .insideText #messages .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

.timeline-image {
  border-radius: 50px;
  height: 48px;
  width: 48px;
  margin: 2px 30px 10px 10px;
}

.btn:hover {
  cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger:hover {
  color: white;
}

/* .navbar-header {
  margin: 0 auto;
} */

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4d4d4d;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19ab27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128d15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4d4d4d;
  border-radius: 50%;
  background-color: #fafafa;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19ab27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099e0;
  -moz-box-shadow: 0px 0px 3px 2px #0099e0;
  box-shadow: 0px 0px 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099e0;
  -moz-box-shadow: 0px 0px 5px 5px #0099e0;
  box-shadow: 0px 0px 5px 5px #0099e0;
}

.admin-tabs {
  padding-top: 25px;
}

.admin-user-access {
  margin-top: 20px;
}

.dashboard-card:hover {
  background-color: #f2f2f2;
}

.truck-plants {
  margin: 20px;
  text-align: center;
}

.react-bs-table table td,
.react-bs-table table th {
  width: 275px;
}

.caret {
  height: 0px;
  width: 0px;
  margin: 5px;
  font-size: 13px;
  font-weight: bold;
  float: right;
  color: darkgray;
}

:not(.dropup) .caret:after {
  content: "\2191";
}

.dropdown .caret:after {
  content: "\2191";
}

.dropup .caret:after {
  content: "\2193";
}

.ui.blue.pointing.basic.label {
  color: white !important;
}

.rt-th {
  font-weight: bold;
  font-size: 1.1em;
}

.wrapped {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Fixed header for semantic ui tables */

table.fixed-header thead tr:nth-child(1) th {
  position: sticky;
  top: 40px;
  z-index: 9;
}

table.fixed-headernm thead tr:nth-child(1) th {
  position: sticky;
  top: 0;
  z-index: 9;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

/* Modal */
div.ui.modal.fullscreen.fullScreenModal {
  left: auto !important;
}
